<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../Style/style.css">
    <title>Projects</title>
</head>
<body>
    <center>
        <br><br>

            Hello Stranger! <br><br>
            My name is Dilshan - CODENAME - <strong>"K0K1S"</strong> <br><br>
            Currently an undergraduate specializing in Cybersecurity at <a href="https://www.google.com/search?q=SLIIT+Sri+Lanka+Institute+of+Information+Technology" target="_blank">SLIIT</a>
    </center>
</body>
</html>
