<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../Style/style.css">
    <title>About</title>

</head>
<body>

    <center>

        <div class="normal-container-name">
            <div class="normal-container-name-item">
                
                <h3>About</h3>

                <p>Hi, My name is Dilshan and on the internet goes by the name <strong>'k0k1s'</strong>. An undergraduate currently studying Information Technology specializing in Cybersecurity. Feel free to chat with me about anything and check out my projects and blogs.</p>
                <img src="../Img/Me.jpg" alt="k0k1s" class="image-class">
            
            </div>

        </div>

    </center>

</body>
</html>
