<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>k0k1s</title>
    <link rel="stylesheet" type="text/css" href="../Style/style.css">
    <script>
        function updateDateTime() {
            var now = new Date();
            var dateElement = document.getElementById('currentDate');
            var timeElement = document.getElementById('currentTime');
            var options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
            var formattedDate = now.toLocaleDateString('en-US', options);
            var formattedTime = now.toLocaleTimeString('en-US');
            dateElement.textContent = formattedDate;
            timeElement.textContent = formattedTime;
        }
        setInterval(updateDateTime, 1000);

        function loadContent(page) {
            var contentFrame = document.getElementById('contentFrame');
            contentFrame.src = page;
        }
    </script>
</head>
<body onload="updateDateTime()">
    <div class="page">
        <div class="header">
            <div class="left">
                <p id="currentDate"></p>
                <p id="currentTime"></p>
            </div>
            <div class="title">
                <h1>k0k1s<span id="content" class="blink">_</span></h1>
            </div>
            <div class="right">
                <p>
                    <strong><a href="https://github.com/k0k1s" target="_blank"><img src="../Img/github.png" alt="GitHub Icon"></a></strong>
                    <strong><a href="https://www.linkedin.com/in/dilshan-nanayakkara-001-/" target="_blank"><img src="../Img/linkedin.png" alt="LinkedIn Icon"></a></strong>
                    <strong><a href="https://twitter.com/DilzNanayakkara" target="_blank"><img src="../Img/X.png" alt="X Icon"></a></strong>
                    <strong><a href="mailto:dilz.nanayakkara@gmail.com"><img src="../Img/email.png" alt="Email Icon"></a></strong>
                </p>
            </div>
        </div>
        <div class="nav">
            <nav>
                |
                <a href="javascript:void(0);" onclick="loadContent('./about.html')">About</a>|
                <a href="javascript:void(0);" onclick="loadContent('./projects.html')">Projects</a>|
                <a href="javascript:void(0);" onclick="loadContent('./blogs.html')">Blogs</a>|

            </nav>
        </div>
        <div class="content">
            <iframe id="contentFrame" frameborder="0" src="./projects.html"></iframe>
        </div>
        <div class="footer">
            <p>Copyright &copy; k0k1s.</p>
        </div> 
    </div>
</body>
</html>
