<!DOCTYPE html>
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type= "text/css" href="../Style/style.css    ">
    <title>Projects</title>

</head>
<body>


    <center>

        <h3>Projects</h3>

        <div class="normal-container-name">


            <div class="normal-container-name-item">
                <p><strong><a href="../Projects/URLripper.html" >URLripper</a></strong></p>
            </div>
            <div class="normal-container-name-item">
                <p><strong><a href="../Projects/Client-Server.html" >Client-Server in C</a></strong></p>
            </div>
            <div class="normal-container-name-item">
                <p><strong><a href="../Projects/Feeder.html" >Feeder</a></strong></p>
            </div>
            <div class="normal-container-name-item">
                <p><strong><a href="../Projects/IOTDMS.html" >IOTDMS</a></strong></p>
            </div>

        </div>

    </center>

</body>
</html>
