@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap');

body, html {
    font-family: 'Roboto Condensed', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

.page {
    background-color: rgb(255, 255, 255);
    background-image: url('../Img/page.jpg');
    background-position: 35%;
    padding: 0 10%;
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #ffffff;
    color: #2c2c2c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
}

.left {
    text-align: left;
    font-weight: 700;
    flex: 1 1 100%;
    order: 1;
}

.title {
    text-align: center;
    flex-grow: 1;
    order: 2;
}

.right {
    text-align: right;
    flex: 1 1 100%;
    order: 3;
}

h1 {
    font-size: 40px;
    margin: 0;
}

.nav {
    text-align: center;
    margin: 20px 0;
}

.nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #2c2c2c;
}

.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

iframe {
    flex-grow: 1;
    width: 100%;
    border: none;
}

.footer {
    background-color: #ffffff;
    color: #1c1c1c80;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    font-size: small;
}

img {
    height: 24px;
    width: 24px;
    margin: 0 5px;
}

.blink {
    animation: blink-animation 1s steps(5, start) infinite;
    color: black;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

/* Responsive styles for portrait orientation */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
    }

    .left, .right {
        text-align: center;
        width: 100%;
    }

    .right p {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    img {
        height: 32px;
        width: 32px;
    }

    .nav {
        margin: 10px 0;
    }

    h1 {
        font-size: 32px;
    }
}
